body {
    background-image: url('https://i.pinimg.com/736x/b4/e5/35/b4e535cd677cff8daa52fe68638c6f63.jpg');
    background-repeat: no-repeat; 
    background-position: center;  
    background-size: cover;       
    height: 100vh;                
}
