body {
    background-image: url('https://i.pinimg.com/736x/a5/0a/bc/a50abc051866f6aa4fa9a0d825431cc5.jpg');
    background-repeat: no-repeat; 
    background-position: center;  
    background-size: cover;       
    height: 100vh;                
}
